{% extends 'admin/admin.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    {# <h1>Candidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ candidat.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ candidat.lastname }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ candidat.birthDate ? candidat.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>BirthPlace</th>
                <td>{{ candidat.birthPlace }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ candidat.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.email }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ candidat.cin }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ candidat.genre }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ candidat.category }}</td>
            </tr>
            <tr>
                <th>Diplome</th>
                <td>{{ candidat.diplome }}</td>
            </tr>
            <tr>
                <th>Specialisation</th>
                <td>{{ candidat.specialisation }}</td>
            </tr>
            <tr>
                <th>Situation</th>
                <td>{{ candidat.situation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidat_index') }}">back to list</a>

    <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">edit</a>

    {{ include('candidat/_delete_form.html.twig') }} #}

    
    <h1>Candidat</h1>   
    <div class="mb-3">
        <a href="{{ path('app_candidat_index') }}">Retour a la liste</a>

        <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}" class="btn btn-sm btn-success ms-3">Modifier</a>

        <button type="button" class="btn btn-sm btn-danger ms-3"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Supprimer</button>
        <a href="{{ path('app_candidat_validate', {'id': candidat.id}) }}" class="btn btn-sm btn-success ms-3">Valider</a>

        {{ include('candidat/_delete_form.html.twig') }}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidat.lastname }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ candidat.firstname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ candidat.birthDate ? candidat.birthDate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu de naissance</th>
                <td>{{ candidat.birthPlace }}</td>
            </tr>
            <tr>
                <th>Numero telephone</th>
                <td>{{ candidat.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.email }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ candidat.category }}</td>
            </tr>
            <tr>
                <th>Diplome</th>
                <td>{{ candidat.diplome }}</td>
            </tr>
            <tr>
                <th>Specialisation</th>
                <td>{{ candidat.specialisation }}</td>
            </tr>
            <tr>
                <th>Situation</th>
                <td>{{ candidat.situation }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ candidat.cin }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ candidat.genre }}</td>
            </tr>
            <tr>
                <th>Fonction demandee</th>
                <td>{{ candidat.job.title }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ candidat.place }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
