{% extends 'admin/admin.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Les utilisateurs</h1>

    <table class="table datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom complet</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                {% if 'ROLE_DRH' in user.roles ? user.roles|json_encode : '' %}
                    <td><span class="badge rounded-pill text-bg-primary">DRH</span></td>
                {% else %}
                    <td><span class="badge rounded-pill text-bg-success">Personnel</span></td>
                {% endif %}
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">voir</a>
                    {# <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de donnees</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
